@using JMGG.ManageProject.Model.User
@model UserInfo
@{
    ViewBag.Title = "基本信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<blockquote class="layui-elem-quote blog-manage-breadcrumb" style="margin-top: 5px;">
    <span class="layui-breadcrumb">
        <a>系统</a>
        <a href="@Url.Action("From", "BasicInfo")"><cite>基本信息</cite></a>
    </span>
</blockquote>

<div class="layui-fluid layui-form" id="form" style="margin-top: 30px;">
    <div class="site-title">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>基本信息</legend>
        </fieldset>
        <div class="layui-row">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">商家ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="BussinessID" required disabled lay-verify="required" value="@Model.BussinessID"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">代理商ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="AgentId" disabled value="@Model.AgentId" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">公司名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="CompanyName" disabled value="@Model.CompanyName" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">通讯地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="Address" disabled value="@Model.Address"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">网站链接</label>
                    <div class="layui-input-block">
                        <input type="text" name="URL" disabled value="@Model.WebSite" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">产品名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="ProductId" disabled value="@Model.ProductId" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系人姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="Contacts" value="@Model.Contacts" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Mobile" value="@Model.Mobile" data-value=""
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Email" required value="@Model.Email"
                                   data-value="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="site-title">
        <fieldset class="layui-elem-field layui-field-title">
            <legend><a name="use">资质信息</a></legend>
        </fieldset>
        <div class="layui-row" style="padding-left: 50px;padding-top: 10px;">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">营业执照</li>
                    <li>ICP资质备案</li>
                </ul>
                <div class="layui-tab-content" style="padding-left: 0px;">
                    <div class="layui-tab-item">
                        <div class="layui-col-md6">
                            <table class="layui-table" lay-size="lg">
                                <colgroup>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>营业执照</th>
                                        <th>营业执照统一社会信用代码</th>
                                        <th>资质到期日期</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.BizInfo != null && Model.BizInfo.LicenseInfoList != null && Model.BizInfo.LicenseInfoList.Count > 0)
                                    {
                                        for (int i = 0; i < Model.BizInfo.LicenseInfoList.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    <a name='BusinessHeat' href="@Model.BizInfo.LicenseInfoList[i].BizPicUrl" target="_blank">
                                                        <img src="@Model.BizInfo.LicenseInfoList[i].BizPicUrl" alt="">
                                                    </a>
                                                </td>
                                                <td>@Model.BizInfo.LicenseInfoList[i].CreditCode</td>
                                                <td>@Model.BizInfo.LicenseInfoList[i].ExpirationDate</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="layui-tab-item layui-show">
                        <div class="layui-col-md6">
                            <table class="layui-table" lay-size="lg">
                                <colgroup>
                                    <col width="150">
                                    <col width="200">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>营业执照</th>
                                        <th>资质到期日期</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.BizInfo != null && Model.BizInfo.IcpInfoList != null && Model.BizInfo.IcpInfoList.Count > 0)
                                    {
                                        for (int i = 0; i < Model.BizInfo.IcpInfoList.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    <a name='QualificationUrl' href="@Model.BizInfo.IcpInfoList[i].BizPicUrl" target="_blank">
                                                        <img src="@Model.BizInfo.IcpInfoList[i].BizPicUrl" alt="">
                                                    </a>
                                                </td>
                                                <td>@Model.BizInfo.IcpInfoList[i].ExpirationDate</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
